@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

::-webkit-scrollbar {
  display: none;
}

* {
  overflow: hidden;
  font-size: 14px;
}

html {
  margin: 0px;
  padding: 0px;
  /*  -webkit-app-region: nodrag;
  animation: fadein 10s;
  animation-delay: 1.5s;*/
  position: absolute;
  -webkit-app-region: no-drag;
}

/*@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

body {
  font-family: 'Maven-Pro', sans-serif;
  font-size: 18px;
  user-select: none;
  margin: 0px;
  padding: 0px;
  -webkit-app-region: no-drag;
}

img#myImage {
  z-index: 0;
}

#altairversion {
position: absolute;
bottom: 12px;
right: 20px;
z-index: 5;
color: #EFEFEF;
text-align: left;
}
