@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

/*
Theming:
#44AF69 (pastel green)
#F8454D (red)
#FCC151 (yellow)
#64B8C7 (blue)
#EFEFEF (grey)
#32908f (darker blue)
*/


ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-gap: 1rem;
  justify-content: space-between;

  /* boring properties */
  list-style: none;
  background: wheat;
  padding: 1rem;
  width: 80vw;
  margin: 0 auto;
}

li {
  height: 300px;
  border: 1px solid green;
}
