@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url("https://fonts.googleapis.com/css?family=Roboto&text=\25BC");
/*
Theming:
#44AF69 (pastel green)
#F8454D (red)
#FCC151 (yellow)
#64B8C7 (blue)
#EFEFEF (grey)
#32908f (darker blue)

#2E51A2 (mal blue)
#F75139(kitsu orange)
#402F3F (kitsu secondary)
#0099FF (anilist blue)
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    height: 10px;
}

ul#headergrid {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 0 0;
}

li#headersection {

}

ul#gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-gap: 1rem;
  justify-content: space-between;

  /* boring properties */
  list-style: none;
  background: #545454;
  padding: 1rem;
  margin: 0 0 0 0;
}

li#gridcards {
  height: 384px;
  border: 1px solid green;
}


h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #64B8C7;
  text-decoration:none;
}

a:focus {
  color: #64B8C7;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  user-select: none;
  cursor: default;
  margin: 0px;
  padding: 0px;
  background-color: #545454;
}


/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.card {
  width: 225px;
  max-width: 225px;
  min-width: 225px;
  border-radius: 10px 10px 4px 4px;
  background-color: #EFEFEF;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0,0.2);
  transition: 0.3s;
}

.cardimg {
  width: 225px;
  height: 320px;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: blur(0.5px);
}


.card:hover {
  box-shadow: 6px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .cardimg {
    -webkit-filter: blur(0px);
    transition: 0.3s;
}

.container {
  padding: 0px 12px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
}

.cardtext {
  margin-top: 2px;
}

.splashbody {
  background-color: transparent;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.splashtext {
  align-items: center;
  align-content: center;
  justify-content: center;
}

#header {
  width: 100%;
  z-index: 9999;
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  user-select: none;
  cursor: default;
  background-color: #2E51A2;
  color: #EEEEEE;
  border-radius: 0 0 8px 8px;
}

#background {
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 13px;
  text-align: center;
}

#frame {
  position: fixed;
  top: 0px;
  left: 6px;
}

#frame-bar {
  -webkit-app-region: drag;
  height: 32px;
  background-color: #2E51A2;
  padding: 0px;
  margin: 0px;
  z-index: 3001;
  top: 0px;
}

#frame-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px;
}

#frame-bar-btns button {
 height: 32px;
 width: 32px;
 background-color: transparent;
 border: none;
 color: #F1F1F1;
 font-size: 16px;
}


button#max-btn:hover {
  background-color: #3F3F41;
}

button#min-btn:hover {
  background-color: #3F3F41;
}

button#close-btn:hover {
  background-color: #F8454D;
}
