@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

/*
Theming:
#44AF69 (pastel green)
#F8454D (red)
#FCC151 (yellow)
#64B8C7 (blue)
#EFEFEF (grey)
#32908f (darker blue)

#870505 (Spoiler Red)

#c76363 (Link hover NSFW)
#722525 (Link focus NSFW)

#64B8C7 (Link hover blue)
#256772 (Link focus blue)

Colour Codes for Ratings
#99c140 (green)
#e8812c (amber)
#cc3232 (red)


#2E51A2 (mal blue)
#F75139 (kitsu orange)
#402F3F (kitsu secondary)
#0099FF (anilist blue)

#d1e3aa
*/

::selection {
  color: #ffffff;
  background: #3d8387;
  text-shadow: rgba(0,0,0,.8) 1px 1px 0;
}

/* Scroll Bar Styling */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  border: 2px solid #545454;
  border-radius: 12px

}

::-webkit-scrollbar-track {
  background-color: #545454;
}

#title-bar {
  -webkit-app-region: drag;
  height: 32px;
  background-color: #2E51A2;
  padding: none;
  margin: 0px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
  background: transparent;
  border: none;
}

 #title-bar-btns button {
 height: 32px;
 width: 32px;
 background-color: transparent;
 border: none;
 color: #F1F1F1;
 font-size: 16px;
}

button#title-bar-btns:hover {
  background-color: red;
  color: black;
}

ul#headergrid {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 0 0 0;
}

.title#headersection {
  display: block;
  text-shadow: 0 0 0 #EEEEEE;
}

ul#gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-gap: 1rem;
  justify-content: space-between;

  /* boring properties */
  list-style: none;
  background: #545454;
  padding: 1rem;
  margin: 0 0 0 0;
  overflow: scroll;
  position: absolute;
  top: 128px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}

ul#gridcontainer:first-child {
  margin-top: 0px;
}

li.gridcards {
  height: 384px;
  border: 1px solid transparent;
}

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

webview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  background-color: #545454;
  overflow: hidden;
}

header {
  height: 96px;
  width: 100%;
  background: transparent;
}

.grid {
  margin: 0 0 0 0;
  background: #DDD;
  width: 100%;
  height: 100%;
  position: absolute;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-rendering: optimizeSpeed;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

h2 {
  font-weight: 200;
  font-size: 23px;
  margin: 0 0 0 0;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.8s;
}

a:hover {
  transition: all 0.2s;
  color: #64B8C7;
}

a:focus {
  color: #256772;
  transition: all 0.2s;
}

a.cardLink {
  color: #000000;
}

a.cardLink:hover {
  transition: all 0.2s;
  color: #64B8C7;
}

a.cardLink:focus {
  color: #256772;
  transition: all 0.2s;
}

/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}

.preloader *,
.preloader *:before,
.preloader *:after {
  animation-play-state: paused !important;
  transition: none !important;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.navheader {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: #666666;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
}

p#navheader-text {
  background-color: #666666;
  color: #f3f3f3;
  margin: 0 0 0 0;
  padding: 8px 0 8px 16px;
}

#score {
  position: absolute;
  padding: 4px;
  border-radius: 8px;
  z-index: 10;
  top: 12px;
  right: 12px;
  color: #EFEFEF;
  pointer-events: none;
  width: 29px;
  text-align: center;

  /* Animation */
  transition: opacity 1s, box-shadow 1s;
  transition-delay: 0.3s;
  opacity: 1;
  transform: translateZ(0)
}

.card:hover #score {
/*  opacity: 0.55;
  box-shadow: 0px 0px 10px 5px rgba(0.15); */
  opacity: 0;
  box-shadow: 0px 0px 0px 0px rgba(0.00);
}

.card {
  width: 225px;
  max-width: 225px;
  min-width: 225px;
  border-radius: 10px 10px 4px 4px;
  background-color: #F3F3F3;

  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0,0.2);
  transition: box-shadow 0.3s linear;
  transform: translateZ(0);

  animation-duration: 0.5s;
  animation-name: cardfadein;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes cardfadein {
  from    {opacity: 0; transform: translateZ(0);}
  to      {opacity: 1; transform: translateZ(0);}
}

.cardimg {
  width: 225px;
  height: 320px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #999999;

  animation-name: cardimgfadein;
  animation-duration: 0.55s;
  animation-delay: 0.3s;
}

@keyframes cardimgfadein {
  from    {-webkit-filter: blur(0.9px); transform: translateZ(0);}
  to      {-webkit-filter: blur(0.5px); transform: translateZ(0);}
}

.card:hover {
  box-shadow: 6px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

a#imgtext {
  -webkit-filter: blur(0px);
  position: absolute;
  top: 1px;
  right: 15px;
  font-size: 40px;
  -webkit-text-fill-color: #FCC151;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #EEEEEE;
  cursor: default;
}

.container {
  padding: 0px 12px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
}

.cardtext {
  margin-top: 2px;
}

#air {
  position: absolute;
  padding: 4px;
  border-radius: 8px;
  z-index: 10;
  bottom: 8px;
  right: 8px;
  background-color: #619e2f;
  color: #EFEFEF;
  pointer-events: none;
  height: 29px;

  /* Animation */
  transition: opacity 1s;
  transition-delay: 0.4s;
  opacity: 1;
  transform: translateZ(0)
}

/* .card:hover #air {
  opacity: 0;
} */

.cardflex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
}

.cardflex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.cardflex-item:nth-child(2) {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
}

.splashbody {
  background-color: transparent;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.splashtext {
  align-items: center;
  align-content: center;
  justify-content: center;
}

#header {
  width: 100%;
  z-index: 9999;
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  user-select: none;
  cursor: default;
  background: #2E51A2;
  color: #EEEEEE;
}

#background {
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin-top: 3.5px;
  text-align: center;
}

/* The Modal (background) */
#myModal.modaltest::-webkit-scrollbar {
  display: none;
}

.modaltest {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  overflow-x: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
h3.modaltitle {
  margin-top: 10px;
  margin-bottom: 8px;
  letter-spacing: 0.065em;
}

.modal-content {
  background-color: #EFEFEF;
  margin: auto;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 1px solid #888;
  width: 85%;
  animation: fadeModal 0.5s ease;
  border-radius: 10px 10px 8px 8px
}

@-webkit-keyframes fadeModal {
  from  {opacity:0; transform: translateZ(0);}
  to    {opacity:1; transform: translateZ(0);}
}

.modalimg {
  width: 225px;
  height: 320px;
  border-radius: 2px 2px 2px 2px;
  padding: 5px;
  background-color: #DCDDE1;
}

p.modaldesc {
 margin: 0 0 4px 4px;
}

.spoilertext {
  font-size: 15px;
  margin: 0 auto;
  position: relative;
  background-color: #DCDDE1;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  color: #000000;
  user-select: text;
}

.spoilertext.on {
  color: rgba(0,0,0,0);
  text-shadow: 0 0 10px #000;
  cursor: pointer;
  user-select: none;
}

.spoilertext.on:before { /* Spoiler Button*/
  content: 'Spoilers Ahead';
  position: absolute;
  text-shadow: none;
  color: #FFFFFF;
  width: 140px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  left: 50%;
  top: 50%;
  background-color: #870505;
  margin-left: -70px;
  margin-top: -14px;
  border-radius: 5px;
  cursor: pointer;
}

#modalgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-gap: 1rem;
  justify-content: space-around;

  list-style: none;
  padding: 10px 0px 10px 0px;
  margin: 0 0 0 0;
}

#modalgridcardtext {
  width: 200%
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 4px;
  padding-right: 20px;
  transition: color 1s;
}

.close:hover,
.close:focus {
  color: #F8454D;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s;
}

#button-container {
  position: fixed;
  bottom: 30px;
  left: 150px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#aboutClose {
  background-color: transparent;
  border: 2px solid #F1F1F1;
  border-radius: 4px;
  color: #F1F1F1;
  font-size: 16px;
  transition: border 0.5s, border-radius 0.5s, color 0.5s;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#aboutClose:hover {
  border: 2px solid #d2d2d2;
  border-radius: 8px;
  color: #d2d2d2;
}

#aboutClose:focus {
  border: 2px solid #8a8a8a;
  border-radius: 10px;
  color: #8a8a8a;
}


.infoContainer {
  margin: 5px;
  color: #EAEFEF;
}

.infoLabel {
  padding: 0px;
  margin: 10px;
  font-weight: 250;
}

.infoLabelText {
  color: #EFEFEF;
  font-weight: 100;
}
